body {
  font-family: Arial;
  background: #e8f5e9;
  padding: 20px;
}

h1 { color: #2e7d32; }

nav a {
  margin-right: 15px;
  text-decoration: none;
  color: green;
  font-weight: bold;
}

section {
  background: white;
  padding: 15px;
  border-radius: 10px;
  margin-top: 20px;
}

input, button {
  display: block;
  margin: 8px 0;
  padding: 8px;
}

button {
  background: green;
  color: white;
  border: none;
}
